@*
    For more information on enabling MVC for empty projects, visit https://go.microsoft.com/fwlink/?LinkID=397860
*@
@{
}

<h3>Tablo örneği</h3>
<br />
<table>
    <tr>
        <th>kategori id</th>
        <th> ad</th>
        <th>açıkllam</th>
        <th>durum</th>
    </tr>
    <tr>
        <td>1</td>
        <td>hi</td>
        <td>fasdf</td>
        <td>sfdfgs</td>
    </tr>
</table>
